# Visual Studio & Build
.vs/
x64/
Debug/
Release/
vc17/
*.user
*.suo
*.pdb
*.obj
*.tlog
*.log
*.lastbuildstate
*.idb
*.cache
build*/
ipch/

# Dependencies & Package Managers
vcpkg_installed/
vcpkg/

# Logs & Temporary
*.log
packet.log
otclient.log
*.bak
*.old
server/aethrium-server.exe.old
server/data/world/* - Copia.otbm

# Assets (Managed by LFS, but ignore duplicates if any)
# (Optionally exclude sound folders if extremely large and not needed for dev)

# Git specific
.DS_Store
